*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1117;
    color:#7ee787;
    font-family:"JetBrains Mono", monospace;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

#terminal{
    width:70%;
    max-width:900px;
    font-size:28px;
    line-height:1.8;
    white-space:pre-wrap;
}

.cursor{
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}